<<<<<<< HEAD
  <p>
    <%= @game.name %>
  </p>
=======

<div class="chessboard">

	<% (0..Game::BOARD_SIZE).each do |row| %>
		<!-- Start Row -->
		<% color = (row.even?) ? "white" : "black" %>
		<% (0..Game::BOARD_SIZE).each do |col| %>
			<div class="<%= color %>"></div>
			<% color = (color == "white") ? "black" : "white" %>

		<% end %>
	<% end %>
</div>
>>>>>>> 0ce1168d22a70a51e2372aea2bd59e49de923fb8
